
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Output</title>
    <style>
        @page {
            size: A4;
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;
            @top-center {
                content: 'Alireza Dashboard';
            }
            @bottom-right {
                content: "Page " counter(page) " of " counter(pages);
            }
        }
    </style>
</head>
<body>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwEnwSb6WGrExkoGVcb5srckJGFryWVxgHjmLBlkHdvTaZsawbmr7bF5xSE7crVqUzekc&usqp=CAU" width="35" height="35" alt="logo"/>
<h2>Income List</h2>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Source</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>

        </tr>
    </thead>
    <tbody>
    {% for income in incomes %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ income.source }}</td>
        <td>{{ income.category }}</td>
        <td>{{ income.description }}</td>
        <td>{{ income.date }}</td>
        </tr>
    {% endfor %}
        <tr>
        <td> Total</td>
        <td>{{ total }}</td>
        </tr>
    </tbody>
</table>
</body>
</html>