{% extends 'authentication/base_auth.html' %}
{% block title %}Reset Password{% endblock %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Please Enter your Email</h4>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          {% include 'messages.html' %}
          <div class="form-group">
            <input
              type="text"
              name="email"
              placeholder="Emai"
              id="emailField"
              class="form-control form-control-sm"
            />
          </div>

          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />

     <br> <br> <hr>
    <h5 style="text-align: center;text-transform: capitalize">Don't have an account?<a href="{% url 'register' %}">Register</a></h5>

        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}